{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link href='http://fonts.googleapis.com/css?family=Special+Elite|Inconsolata|PT+Sans+Narrow' rel='stylesheet' type='text/css'>
<link href="{{ url_for('.static', filename='main.css') }}" rel="stylesheet" />

<style>
	body {
		padding-left: 25px;
		padding-top: 25px;
		padding-right: 25px;
	}
	#flashes {
		text-align:center;
		color: red;
		font-weight:bold;
	}
</style>
{% endblock %}

{% block title %}Dropbox-Xerocon{% endblock %}

{% block content %}
<div align="center">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div id="flashes">
			{% for message in messages %}
		  		{{ message }}
		  		<br />
			{% endfor %}
		</div>
		{% endif %}
	{% endwith %}
</div>
{% endblock %}